@import "tailwindcss";

body {
  color: white;
  background-color: black;

  background-image:
    radial-gradient(circle at 20% 20%, rgba(255,255,255,0.06), transparent 40%),
    radial-gradient(circle at 80% 0%, rgba(255,255,255,0.04), transparent 40%),
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);

  background-size:
    auto,
    auto,
    40px 40px,
    40px 40px;
}

.hero-glow {
  position: relative;
}

.hero-glow::before {
  content: "";
  position: absolute;
  inset: -250px;
  background: radial-gradient(
    circle,
    rgba(255,255,255,0.18),
    transparent 65%
  );
  z-index: -1;
}

:root {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-mono);
}

body {
  font-family: var(--font-sans);
}
